<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENA</title>
</head>
<body>
    <p>

        BIENVENIDO A ADMINISTRACIÓN SENA 



        <!-- no sé hay que poner algo chevere aqui 
         que se vea muy interesante y no tan vacia -->
    </p>

    <!-- 
    esto no es buena practica pero es funcional 
    podriamos mejor hacer el a con estilos de boton y ya 
    -->
    <a href="/iniciarSesion"> <button type="button">Iniciar Sesión</button></a>
    <a href="/registrarse"> <button type="button">Registrarse</button></a>
</body>
</html>